<div class="container">
    <div class="col">
        {% for post in paginator.posts %}
        <div class="row post-teaser">
            <div class="card border-light">
                {% if post.thumbnail %}
                <div class="post-thumbnail">
                    <img class="card-img-top" alt="thumbnail" src="{{ post.thumbnail | relative_url }}">
                </div>
                {% endif %}
                <div class="card-body">
                    <h3 class="card-title"><a href="{{ post.url | relative_url }}" class="text-reset">{{ post.title }}</a></h5>
                    {% if post.subtitle %}
                    <h4 class="card-subtitle">{{ post.subtitle }}</h4>
                    {% endif %}
                    {% include post_info.html post=post %}
                    <p class="card-text mt-2">{{ post.excerpt | strip_html }}</p>
                </div>
                <div class="card-footer text-muted">
                    <ul class="list-inline">
                    {% for tag in post.tags %}
                    <li class="list-inline-item">
                        <i class="fas fa-tag"></i> {{ tag | upcase }}
                    </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if paginator.total_pages > 1 %}
    <div class="row justify-content-center mt-5">
        <nav>
            <ul class="pagination">
                <li class="page-item {% unless paginator.previous_page %}disabled{% endunless %}">
                    <a class="page-link" href="{{ paginator.previous_page_path }}">Previous</a>
                </li>
                {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{ page }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
                </li>
                {% endif %}
                {% endfor %}
                <li class="page-item {% unless paginator.next_page %}disabled{% endunless %}">
                    <a class="page-link" href="{{ paginator.next_page_path}}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    {% endif %}
</div>