---
layout: default
---

<div class="page-hero dflex justify-content-center" style="background-image: url('{{ site.feature_image | relative_url }}');">
    <img src="{{ site.user_avatar | relative_url }}" class="rounded-circle shadow-lg user-avatar">
    <h1 class="text-light font-weight-bold mt-3">{{ site.username }}</h1>
    <p class="header-lead">{{ site.bio }}</p>
    <div>
        <a href="{{ '/blog/' | relative_url }}" class="btn btn-outline-light"><i class="fas fa-blog"></i> Blogs</a>
        <a href="{{ '/about/' | relative_url }}" class="btn btn-outline-light"><i class="fas fa-user"></i> About</a>
    </div>
</div>

{{ content }}
