---
layout: default
---

<article>
    <header>
        <div {% if page.feature_image %}class="page-hero" 
            style="background-image: url('{{ page.feature_image | relative_url }}');"{% endif %}>
            <h1 class="post-title">{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="post-subtitle">{{ page.subtitle }}</h2>
            {% endif %}
            {% include post_info.html post=page%}
        </div>
    </header>

    <section id="content" class="post-content">
        {{ content }}
    </section>

    <section id="pageNav" class="post-nav">
        <div class="d-flex flex-column flex-md-row">
            {% if page.previous %}
            <div>
                <p>Previous post:</p>
                <p><a href="{{ page.previous.url | relative_url }}">{{ page.previous.title }}</a></p>
            </div>
            {% endif %}

            {% if page.next %}
            <div class="ml-auto">
                <p>Next post:</p>
                <p><a href="{{ page.next.url | relative_url }}">{{ page.next.title }}</a></p>
            </div>
            {% endif %}
        </div>
    </section>


</article>
